<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ben.upsilon.umap">

    <application
        android:debuggable="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="UmapDev"
        tools:replace="android:label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">

</application>
</manifest>